<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Fábricas</title>
    <link rel="stylesheet" href="public/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="public/lib/angular/angular.min.js"></script>
    <script src="fabrica.js"></script>
  <body>
    <div class="container">
      <h1>Compartir datos entre controladores utilizando Fábricas</h1>
      <hr>
      <span class="lead text-info">Controlador Uno</span>
      <div ng-controller="ControladorUno">
        <input type="text" size="50" ng-model="nuevoMensaje">
        <button class="btn btn-success" ng-click="nuevo()">Guardar</button>
        <h3 class="text-info">{{dato.mensaje}}</h3>
      </div>
      
      <hr>
      
      <span class="lead text-warning"> Controlador Dos</span>
      <div ng-controller="ControladorDos">
        <input type="text" size="50" ng-model="nuevoMensaje">
        <button class="btn btn-success" ng-click="nuevo()">Guardar</button>
        <h3 class="text-warning">{{dato.mensaje}}</h3>
      </div>
      
      <hr>
      <div ng-controller="ControladorTres">
        <button class="btn btn-primary" ng-click="resetear()">Mensaje Inicial</button>
      </div>
    </div>
  </body>
  </head>
</html>